
.filter__container {
  margin: 12px;
  font-size: 20px;
  text-align: center;
}

.filter__btn {
  margin: 8px 16px;
  padding: 16px 20px;
  
}

.linktext { 
  text-decoration: none;
  color:  black;
  
}

.category__box {
  border: 2px solid  orange;
  border-radius: 16px;
  margin: 1px 1px;
  
  
}
h2 {
  text-align: center;
  
}
.detail__title {
  background-color: bisque;
  text-align: center;
  border-radius: 16px;
  margin: 16px;
}
.detail__box {
  border: 1px solid black;
  border-radius: 24px;
  margin: 8px 16px;
  padding: 8px;
  text-align: center;
}
.detail__box2 {
  display: flex;
  justify-content: space-between;
}
.detail__mapbox {
  padding: 24px;
  height: 250px;
  border: 1px solid black;
}
.detail__info {
  margin:  24px;
  text-align: center;
}

.linkbox {
  margin: 16px;
  padding: 8px 16px;
  text-align: center;
  border: 1px solid black;
}
.more-btn {
  text-align: center;
}